<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibuildapp.romanblack.MapPlugin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <activity android:name="MapPlugin"
            android:configChanges="orientation">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".view.MapRoute"
            android:configChanges="orientation"/>
    </application>

</manifest>
