<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibuildapp.romanblack.MapPlugin">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application>
        <uses-library android:name="com.google.android.maps" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapPlugin"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".WebActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
